@keyframes fly-in-right {
  from {
    opacity: 0.8;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fly-fade-top {
  0% {
    opacity: 0.8;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flip-top {
  from {
    transform: rotateX(-90deg);
  }

  to {
    transform: rotateX(0);
  }
}

@keyframes fly-skew-right {
  from {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  33% {
    opacity: 1;
    transform: skewX(20deg);
  }

  66% {
    opacity: 1;
    transform: skewX(-5deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@theme {
  --animate-fly-in-right: fly-in-right 150ms ease-out;
  --animate-fly-out-right: fly-in-right 150ms ease-in reverse;

  --animate-fly-in-top: fly-fade-top 150ms ease-out;
  --animate-fly-out-top: fly-fade-top 150ms ease-in reverse;

  --animate-flip-in-top: flip-top 100ms ease-out;
  --animate-flip-out-top: flip-top 100ms ease-in reverse;

  --animate-fly-skew-in-right: fly-skew-right 400ms ease-out;
}
