# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

.vscode/
!.vscode/launch.json
!.vscode/extensions.json

# copied changelog (from root CHANGELOG.md)
src/content/docs/changelog.md
